.favorites-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px;
}
.lyric-content-error{

    font-family: 'Roboto',sans-serif;
    padding:10px;
    text-align: center;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width:500px;
    border-radius: 10px;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.65);
}