.navigation{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.link-router{
    text-decoration: none;
    font-size: 25px;
    color: black;
    margin:20px;
    font-family: 'Lobster' !important;
}
.MuiTab-wrapper{
    font-family: 'Lobster';
    font-size: 20px;;
}

@media(max-width:430px){
    .MuiTab-wrapper{
        font-family: 'Lobster';
        font-size: 15px;;
    }
    .link-router{
        margin:10px;
    }
    
}
@media(max-width:310px){
    .MuiTab-wrapper{
        font-family: 'Lobster';
        font-size: 14px;;
    }
    .link-router{
        margin:9px;
    }
    
}